{{extend 'hm.html'}} 

<style type="text/css"> .img{display: block; margin-left: auto; margin-right: auto} </style>

<br>

<h1>Meteoceanographic mooring data </h1>

<p> Meteoceanographic conditions near Arraial do Cabo during the last
seven days. The live data and time series are available at the SIODOC Project <a href="http://siodoc.net" target="_blank">website</a> upon free registration. </p>

<div class="row"> 
    <div class="span12">
          <a href= "http://siodoc.net" target="_blank"> <img class="img" src="{{=URL('static','images/map.png')}}" width="450"/> </a>
    </div>
</div>

<h3>Winds, surface currents and Sea surface temperature</h3>

<div class="row"> 
    <div class="span12">
           <img src="{{=URL('static','images/siodoc_tmp.png')}}" height="750" width="1500"/>
    </div>
</div>


<h3>Wave parameters</h3>

<div class="row"> 
    <div class="span12">
           <img src="{{=URL('static','images/siodoc_wave.png')}}" height="750" width="1500"/>
    </div>
</div>

<br><br>

<h3>Depth-dependent temperature and currents</h3>

<div class="row"> 
    <div class="span12">
           <img src="{{=URL('static','images/siodoc_full.png')}}" height="750" width="1500"/>
    </div>
</div>


<br><br>

<h3>Tide prediction</h3>

<div class="row"> 
    <div class="span12">
   		   <img class="img" src="{{=URL('static','images/tide.png')}}" height="200" width="500"/>
    </div>
</div>



