{{extend 'hm.html'}}

<!-- <br><br>
{{for arquivo in tmp:
}}

<button class="btn btn-smaller">
<a href="{{=URL("default","download",args=arquivo.file_arquivo)}}"> Download de material didático </a>
</button>

<br><br>
{{pass}}
 -->
<br><br>

<h2>Curso de introdução ao Python como ferramenta para Oceanógrafos </h2>
    <p>
        Python é uma linguagem de programação interpretada que pode ser usada
        interativamente. Isto facilita o desenvolvimento de códigos científicos
        para manipular conjuntos de dados extensos e complexos programas computacionais.
        Adicionalmente, o Python por si só possui uma extensa gama de módulos
        para executar tarefas do dia a dia de um usuário de sistema operacional,
        que usualmente requerem o uso de múltiplas linguagens. A base de
        ferramentas voltadas à computacão científica, disponíveis gratuitamente,
        é notavelmente extensa. Módulos como Numpy, Scipy e Matplotlib
        possibilitam a execucão de tarefas complexas com matrizes de dados,
        com bibliotecas matemáticas para manipulacão e análise de dados. Python
        tem bibliotecas disponíveis para portar códigos C e Fortran em sua
        linguagem, o que torna ultra-rápidas tarefas que são conhecidamente mais
        lentas em linguagens interpretadas. Muitas ferramentas voltadas à
        Oceanografia e Ciências da Terra ja estão disponíveis, como 1)
        manipulacão de formatos como NetCDF, HDF, GRIB; 2) OpenDAP; 3) análise
        harmônica de maré; 4) cálculo de propriedades termodinâmicas da água do
        mar e 4) visualizacão gráfica/plotagem de dados totalmente customizável,
        com qualidade para publicacão. Python é ideal para lidar com pré- e
        pós-processamento associados a modelagem numérica.
        <br>
        O repositório git do curso contém o material didático relevante: 
        <a href="https://github.com/rsoutelino/uerj_ocn_2014" target="_blank">GitHub - rsoutelino</a>
    </p>

    <br>

    <h4>Porque não MATLAB?</h4>
        <p>
            Texto retirado da homepage do pesquisador <a href="http://pong.tamu.edu/~rob/python/" target="_blank">Rob Hetland</a>.
            <br><br>
            MATLAB pode ser considerada atualmente a linguagem padrão para análise
            e plotagem em aplicacões oceanográficas, tanto para modelagem numérica
            como para oceanografia observacional. Tal fato se deve a razões
            históricas, e não só pelo MATLAB em si, mas pelo surgimento das
            primeiras toolboxes voltadas a Oceanografia e Ciências da Terra.
            Entretanto, muitas desvantagens e problemas associados ao uso do
            MATLAB podem ser citados, e são amplamente conhecidos pela comunidade.
            Lentidão, instabilidade, vazamentos de memória, bugs em geracão de
            figuras, servidores de licensa e código fechado são exemplos.
            É uma linguagem flexível,
            dinâmica, e uma vez que aprende-se a trabalhar neste arcabouço
            matricial, ela pode ser rápida e poderosa. Migrar para uma outra linguagem implica
            no aprendizado de um novo conjunto de técnicas de programação e
            geração de uma nova gama de toolboxes. Este investimento inicial
            certamente demanda tempo, portanto espera-se que haja importantes
            benefícios. Acreditamos que migrar para Python valha o esforço pelas
            seguintes razões:

            <ul>
                <li> Python é uma linguagem de programação extremamente poderosa
                    e moderna. Isto significa que pode-se usar Python não apenas para
                    análise e plotagem, mas também para as demais tarefas que a
                    computação científica possibilita, como gerenciamento de arquivos
                    e diretórios, automatização de tarefas, downloads e interatividade
                    com web em geral, criação de interfaces gráficas.
                <li> Python é verdadeiramente orientada a objeto. Isto significa
                    que os programas tendem a ficar mais fortes, claros, flexíveis e
                    fáceis de desenvolver, ler e debugar, por causa da natureza da
                    programação em Python. É muito simples converter/organizar um
                    conjunto randômico de ferramentas em um pacote coeso para uma
                    dada finalidade.
                <li> Existem muitos pacotes disponíveis gratuitamente que executam
                    tarefas que comummente queremos fazer. Em particular, os pacotes
                    Numpy e Matplotlib têm uma interface muito similar à do MATLAB,
                    tornando a curva de aprendizado bem reduzida.
            </ul>
            <br>
            <h5> Algumas vantagens do Python em relação ao Matlab:</h5>
            <br>
            <ul>
                <li> Python é uma linguagem de script completa e poderosa. Módulos
                    científicos são escritos nesta filosofia. Por exemplo, a criação de
                    classes é muito simples e funcões podem ser passadas como argumentos
                    de classes ou outras funções, funcionalidade esta não disponível no
                    MATLAB. Existe um número de tipos de variáveis bem maior, que são
                    muito poderosos, como listas, dicionários e tuplas.
                <li> É fácil de portar códigos escritos em C e Fortran. Existem
                    inúmeras ferramentas para isto e a maioria das ferramentas
                    científicas já escritas em Python se aproveitam disso, então
                    o código roda super rápido.
                <li> Python é <strong>open source, gratuito</strong>, portável,
                    está em constante desenvolvimento e lançamento de novas versões
                    ocorrem com uma frequência muito maior que no MATLAB. A comunidade
                    de desenvolvedores é extensa e ativa. Python roda em todos os
                    computadores modernos e arquiteruras, podendo ser inclusive
                    executado em tablets e smartphones.
            </ul>
        </p>

<br>
<h2>Estrutura do Curso</h2>
<br>
<ul>  
    <li> <strong> Aula 1: </strong> Conceitos de produtividade, reproducibilidade e trabalho colaborativo. 
        Introdução das ferramentas de produtividade (editores de texto, python, git) 
        e preparação dos computadores.
        Conceitos básicos de python: Listas, tuplas dicionários, strings, condicionais, loops, exceções. 
        Programação abstrata. Trabalhando
        com arrays (matrizes). Criação e manipulação de arrays usando o Numpy.
        Indexação, fatiamento e operações com arrays. Manipulações básicas de dados,
        como interpolacões e filtros. Leitura de dados ascii. Exemplo prático de leitura e plotagem
        de dados de CTD. 
    <li> <strong> Aula 2: </strong> Técnicas intermediárias de programação científica.
        Interação com o sistema, automatização de tarefas, interação com arquivos.
        Orientação à objeto, funções, classes, encapsulamento. Desenvolvimento de software: tornando
        o programa re-utilizável. Determinando propósitos do software, requerimentos. Trabalho colaborativo: 
        contrubuindo coletivamente a uma mesma base de códigos, dividindo/delegando tarefas, comunicação eficiente,
        desenvolvimento simultâneo sem conflitos. 
        Preparando um pacote para distrubuição: determinando inputs, funcionalidades e outputs, 
        escrevendo documentação. 
</ul> 

<br>
<h2>Tarefa prática</h2>
<br>
<ul> 
    <p> Consiste em elaborar um pacote simples e útil para leitura, tratamento e visualização de dados de CTD. Este deve
        preencher requisitos mínimos de desenvolvimento e compartilhamento de software livre. 
        <li> bla bla. 
        <li> bla bla 
    </p>
</ul> 

<br>
<h2> Tutoriais de instalação </h2>
<br>
    <p>
       Aqui forneceremos dicas para fazer uma instalação de python com bibliotecas para uso científico.
       Independentemente do sistema operacional, os softwares necessários são os seguintes:
       <ul>
            <li> Editor de texto para desenvolvimento de código.
                À gosto do usuário, mas sugerimos <a href="http://www.sublimetext.com/" target="_blank">SublimeText2</a>
            <li> <a href="http://python.org/" target="_blank">Python 2.7</a>
            <li> <a href="http://ipython.org/" target="_blank">iPython</a> mais recente
            <li> Módulos e bibliotecas Python:
                <a href="http://scipy.org/" target="_blank">Scipy</a>,
                <a href="http://matplotlib.org/" target="_blank">Matplotlib</a>,
                <a href="http://matplotlib.org/basemap/" target="_blank">Basemap</a> toolkit do Matplotlib,
                <a href="http://code.google.com/p/netcdf4-python/" target="_blank">netCDF4</a>,
                <a href="http://code.google.com/p/python-seawater/" target="_blank">Seawater</a>,
                <a href="http://pandas.pydata.org/" target="_blank">Pandas</a>, e
                <a href="http://www.pydap.org/" target="_blank">Pydap</a>
        </ul>
    </p>
    <br>
        <h4>Instalação multiplataforma de todos os pacotes</h4>
        <p>
            Para os menos experientes que procuram uma instalação rápida, sem dores de cabeça, sugerimos o uso de uma distribuição para python
            científico chamada “Anaconda”
            (<a href="https://store.continuum.io/cshop/anaconda/" target="_blank">Anaconda</a>).
            Esta tem instaladores automáticos para Windows, Linux e Mac,
            com todos os pacotes necessários.
        </p>
<br>
        <h4>Instalação em sistema operacional Debian/Ubuntu Linux via apt-get</h4>
        <p>
            Neste caso, todos os pacotes são baixados e compilados para o seu
            sistema em particular, ocupando menos espaço e com performance
            ligeiramente melhor. Segue as instruções abaixo:
            <ul>
                <li> <p style="font-family:monospace"> <code> sudo apt-get install
                    build-essential gfortran nco libnetcdf-dev libhdf5-serial
                    libhdf5-serial-dev libkernlib1-gfortran netcdf-bin hdf5-tools </code> </p>
                <li> Instalar o <a href="http://www.unidata.ucar.edu/software/netcdf/" target="_blank">netcdf</a>
                    mais recente para sua arquitetura.
                <li> <p style="font-family:monospace"> <code> sudo apt-get install
                    python-scipy python-matplotlib python-mpltoolkits.basemap
                    ipython python-pip python-setuptools python-netcdf python-pandas </code> </p>
                <li> <p style="font-family:monospace"> <code> sudo easy_install seawater pydap netcdf4 </code> </p>
            </ul>
        </p>
<br>
    <h3>Leitura recomendada</h3>
<br>
    <ul>
        <li> <a href="http://pong.tamu.edu/~rob/python/" target="_blank">Rob Hetland</a>: página interessante sobre Python para oceanografia, com vídeo-aulas.
        <li> <a href="http://www.imr.no/~bjorn/python/links.html" target="_blank">Links</a> úteis para oceanógrafos que usam Python.
        <li> <a href="http://mathesaurus.sourceforge.net/matlab-numpy.html" target="_blank">Mathesaurus</a>: correspondência de comandos entre MATLAB e Numpy.
        <li> <a href="http://www.scipy.org/" target="_blank">Scipy</a>: maior biblioteca científica escrita em Python.
        <li> <a href="http://pandas.pydata.org/" target="_blank">Pandas</a>: excelente biblioteca para análise de séries temporais.
        <li> <a href="http://matplotlib.org/" target="_blank">Matplotlib</a>: biblioteca de visualização de dados mais utilizada, com sintaxe similar ao MATLAB.
        <li> <a href="http://scitools.org.uk/iris/docs/latest/index.html" target="_blank">Iris</a>: poderosa biblioteca para visualização de dados meteorológicos e oceanográficos.
        <li> <a href="http://web.stanford.edu/~mwaskom/software/seaborn/index.html" target="_blank">Seaborn</a>: visualização estatística de dados.
        <li> <a href="http://hetland.org/writing/instant-python.html" target="_blank">Hetland.org</a>: curso relâmpago de Python.
        <li> <a href="http://ocefpaf.github.io/" target="_blank">Python4oceanographers</a>: blog muito útil para análise de dados (e mais...) usando python. 
        <li> <a href="http://software-carpentry.org/lessons.html" target="_blank">Software Carpentry</a>: desenvolvimento de software para uso científico.
        <li> <a href="http://www.python.org/dev/peps/pep-0008/" target="_blank">Pep8</a>: guia de estilo e convenções para código Python. (último, mas não menos importante)
    </ul>

<br><br>























