{{extend 'hm.html'}}
<br>

<!-- Google + -->
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- Google + -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 bs-docs-sidebar">
            <!--Sidebar content-->
                <ul class="well nav nav-list bs-docs-sidenav affix">
                    <!--<li class="nav-header">Quick Browsing</li>-->
                    <li class><a href="{{=URL("datapanel")}}" target="_blank"> Data panel </a></li>
                    <li class><a href="#aboutme"> About me </a></li>
                    <li class><a href="#education"> Education </a></li>
                    <li class><a href="#research"> Research Interests </a></li>
                    <li class><a href="{{=URL("students")}}" target="_blank"> Students </a></li>
                    <li class><a href="#publications"> Publications </a></li>
                    <li class><a href="#experience"> Experience </a></li>
                    <li class><a href="#links"> Useful links </a></li>
                    <li class><a href="{{=URL("formpython")}}" target="_blank"> Introduction to Python </a></li>
                </ul>

        </div> <!-- span3 -->

        <div class="span9">

            <section id="aboutme">
                <div class="page-header">
                    <h1> About Me</h1>
                </div>
                <p>
                    I've got my Oceanographer B.Sc.
                    degree at UERJ and my master's and Ph.D. degrees at IO-USP, being the later in collaboration with SMAST-UMassD.
                </p>
                <h3>Where to find me on the web</h3>
                <ul>
                    <li> Webpage at my graduation lab: <a href="http://www.lado.io.usp.br/pt/equipe/soutelino.php" target="_blank">LaDO</a>
                    <li> Entry on Lattes curriculum database (Brazil): <a href="http://lattes.cnpq.br/3889103739784965" target="_blank">CNPq - Lattes</a>
                    <li> Facebook profile: <a href="https://www.facebook.com/rsoutelino?ref=tn_tnmn" target="_blank">Facebook</a>
                    <li> LinkedIn profile: <a href="http://br.linkedin.com/pub/rafael-soutelino/2a/b9b/26a" target="_blank">LinkedIn</a>
                    <li> GitHub repository: <a href="https://github.com/rsoutelino/romslab" target="_blank">GitHub</a>
                </ul>
                <br>
                <h3> <strong style="color:red">NEW: </strong> Associate Professor at UERJ  </h3>
                    <p> In October 2013 I became an Associate professor at the Graduation Program of the State University of Rio de Janeiro
                        (<a href="http://www.oceanografia.uerj.br" target="_blank">FAOC-UERJ</a>). I am collaborating with the <i>Data Analysis in Physical
                        Oceanography</i> course and available as an advisor for M.Sc. students. Please access the
                        <a href="http://www.ppgocn.uerj.br/" target="_blank">Graduation</a> website for more information.
                        <br><br>
                        <a class="btn btn-success" href="http://www.ppgocn.uerj.br/arquivos/Edital_Sele%E7%E3o_2014-1.pdf" target="_blank">Download do Edital de Seleção 2014-1</a>
                    </p>

            </section> <!-- aboutme -->
<br><br>
            <section id="education">
                <div class="page-header">
                    <h1> Education </h1>
                </div>

                <h3>Ph.D. in Physical Oceanography</h3>
                    <ul>
                        <strong>Institution:</strong> Oceanographic Institute of the University of São Paulo (IO-USP)
                        <br>
                        <strong>Advisor:</strong> Ilson C. A. da Silveira - IO-USP
                        <br>
                        <strong>Co-Advisor:</strong> Avijit Gangopadhyay - SMAST-UMassD
                        <br>
                        <strong>Dissertation:</strong> On the dynamics of the Brazil Current site of origin: PDF
                    </ul>

                <h3>M.Sc. in Physical Oceanography</h3>
                    <ul>
                        <strong>Institution:</strong> Oceanographic Institute of the University of São Paulo.
                        <br>
                        <strong>Advisor:</strong> Ilson C. A. da Silveira - IO-USP
                        <br>
                        <strong>Thesis:</strong> A Origem da Corrente do Brasil: PDF
                    </ul>

                <h3>B.Sc. in Oceanography</h3>
                    <ul>
                        <strong>Institution:</strong> University of the state of Rio de Janeiro - UERJ.
                        <br>
                        <strong>Advisor:</strong> Ilson C. A. da Silveira - IO-USP
                        <br>
                        <strong>Co-Advisor:</strong> Luiz Carlos F. da Silva - UERJ
                        <br>
                        <strong>Thesis:</strong> Caracterização da estrutura baroclínica do sistema de
                        correntes de contorno oeste ao largo da costa leste brasileira: PDF
                    </ul>
                    <br><br>
            </section> <!-- education -->

            <section id="research">
                <div class="page-header">
                    <h1> Research Interests </h1>
                </div>
                <p> Physical processes in scales that ranges from coastal upwelling to
                    western boundary current dynamics. I've been adressing the scientific
                    questions mostly through numerical modeling and observations.
                </p>
                <br><br>
            </section> <!-- research -->

            <section id="publications">
                <div class="page-header">
                    <h1>Publications</h1>
                </div>

                <h3> Peer-reviewed articles </h3>
                <ul>
                    Soutelino, R.G.; Gangopadhyay, A; Silveira, I.C.A.
                    <strong>The roles of vertical shear and topography on the eddy formation near the site
                            of origin of the Brazil Current.</strong>
                    <i>Cont. Shelf Res.</i>, doi:http://dx.doi.org/10.1016/j.csr.2013.10.001.
                    <a class="btn btn-success btn-mini" href="http://www.sciencedirect.com/science/article/pii/S0278434313003245" target="_blank">PDF</a>
                <br><br>
                    Soutelino, R.G., Miranda, J.M.
                    <strong>Um estudo semi-idealizado para avaliar o papel da topografia no processo de
                            ressurgência costeira em Cabo Frio, RJ.</strong>
                    <i>Bol. Obs. A. R. Lamego.</i>, doi:http://dx.doi.org/10.5935/2177-4560.20130008.
                    <a class="btn btn-success btn-mini" href="http://www.essentiaeditora.iff.edu.br/index.php/boletim/article/view/2177-4560.20130008/2814" target="_blank">PDF</a>
                <br><br>
                    Arruda, W.Z., Campos, E.J.D., Zharkov, V., Soutelino, R.G., I.C.A. da Silveira
                    <strong>Events of equatorward translation of the Vitoria Eddy.</strong>
                    <i>Cont. Shelf Res.</i>, doi:10.1016/j.csr.2013.05.004, 2013.
                    <a class="btn btn-warning btn-mini" href="http://www.sciencedirect.com/science/article/pii/S0278434313001519" target="_blank">PDF</a>
                <br><br>
                    Soutelino, R.G., I.C.A. da Silveira, A. Gangopadhyay, J.A. Miranda.
                    <strong>Is the Brazil Current eddy-dominated to the north of 20S?</strong>
                    <i>Geophys. Res. Lett.</i>, doi:10.1029/2010GL046276, 2011.
                    <a class="btn btn-warning btn-mini" href="http://onlinelibrary.wiley.com/doi/10.1029/2010GL046276/abstract" target="_blank">PDF</a>
                <br><br>
                    Mahiques, M.M.; Sousa, S.H.M.; Burone, L.; Nagai, R.H.; Silveira, I.C.A.; Figueira, R.C.L.; Soutelino, R.G.; Ponsoni, L.; Klein, D.A..
                    <strong>Radiocarbon geochronology of the sediments of the Sao Paulo Bight (southern Brazilian upper margin).</strong>
                    <i>An. Acad. Bras. Cienc.</i>, doi:10.1590/S0001-37652011005000028, 2011.
                    <a class="btn btn-success btn-mini" href="http://www.scielo.br/scielo.php?script=sci_arttext&pid=S0001-37652011000300006&lng=en&nrm=iso&tlng=en" target="_blank">PDF</a>
                <br><br>
                </ul>

                <h3>Other articles</h3>
                <ul>
                    Silveira, I.C.A. da; Castro, B.M.; Soutelino, R. G. <strong>Circulção Oceanica - A Dinâmica das Correntes.</strong>
                    <i> Scientific American Brasil - Coleção Oceanos</i>, v. 3, p. 24 - 29, 2009.
                <br><br>
                    Cavalcante, M. F.; Soutelino, R. G. <strong>Avaliação do Digilevel.</strong> <i>Anais Hidrogr&aacute;ficos</i>,
                    Rio de Janeiro - DHN, v. TOMOLX, p.68-73, 2003.
                </ul>
                <br><br>
            </section> <!-- publications -->

            <section id="experience">
                <div class="page-header">
                    <h1>Work Experience</h1>
                </div>

                <h3>Observational Oceanography</h3>
                <p> Since 2002, I've worked in a total of seven open ocean cruises of 7-10 days duration, at Brazilian Navy and University
                    of São Paulo ships, at Southwest Atlantic offshore Brazil's Southeast and East coasts. Most of the cruises were focused
                    in CTD and VM-ADCP quasi-synoptic sampling arrays with the goal of investigating mesoscale activity of the outer
                    continental shelf and Brazil Current western boundary system. Besides participation in standard data aquisition
                    and navigation procedures, also real time data analysis and plotting were perfomed during most of these cruises.
                </p>

                <h3>Research</h3>
                <p> My major research focus since my undergrads has been mesoscale dynamics associated with western boundary currents, addressed by
                    satellite and in situ data and numerical modeling. From Jan/2012 to Apr/2014, I've worked as a physical oceanography
                    research Fellow at IEAPM, a Brazilian Navy Research Institution,
                    where the main focus of my work was on modeling and data analysis of coastal upwelling systems and developing GUI softwares for
                    data qualification, visualization and storage.
                </p>

                <h3>Current position</h3>
                <p> In construction...
                </p>

                <br>

                <h3>Talks </h3>
                <ul>
                    Soutelino, R.G., Couto, P.P.
                    <strong>The response of Cabo Frio upwelling system to spatially variable wind forcing.</strong>
                    <i>X OMARSAT.</i> Arraial do Cabo, RJ - Oct 2013
                    <a class="btn btn-success btn-mini" href="{{=URL("/static/files/", "omarsat2013_soutelino.pdf")}}"
                       target="_blank">Download</a>
                <br><br>
                    Soutelino, R.G., Gangopadhyay, A.; Silveira, I.C.A.; Miranda, J. A.
                    <strong>New findings on the Brazil Current structure at its formation region.</strong>
                    <i>Seminar.</i> COAS - Oregon State University, Corvalis, OR - Mar 2011
                    <a class="btn btn-success btn-mini" href="{{=URL("/static/files/", "coas2011_soutelino.pdf")}}"
                       target="_blank">Download</a>
                <br><br>
                    Soutelino, R.G.; Silveira, I.C.A.; Gangopadhyay, A.; Schmidt, A.C.K.
                    <strong>Existe uma Corrente do Brasil contínua ao norte da Cadeia Vitória-Trindade?</strong>
                    <i>VIII OMARSAT.</i> Arraial do Cabo, RJ - Oct 2009
                    <a class="btn btn-success btn-mini" href="{{=URL("/static/files/", "omarsat2009_soutelino.pdf")}}"
                       target="_blank">Download</a>
                <br><br>
                </ul>

                <br>

                <h3>Teaching</h3>

                <p> During 2009 I was a short term professor at University of the State of Rio de Janeiro
                    (<a href="http://www.oceanografia.uerj.br" target="_blank">FAOC-UERJ</a>). I was responsible for <i>Data Analysis in Physical
                    Oceanography</i> course for undergraduate students. It was a total of two semesters with 10h/week
                    classes. I was a TA for four semesters at University of São Paulo (<a href="http://www.io.usp.br" target="_blank">IOUSP</a>)
                    undergraduation courses <i>Dynamical Physical Oceanography,
                    General Circulation</i> and <i>Coastal and Estuarine Physical Oceanography</i>
                </p>

                <br>

                <h3>Associate Professor</h3>

                <p> In October 2013 I became an Associate professor at the Graduation Program of the State University of Rio de Janeiro
                    (<a href="http://www.oceanografia.uerj.br" target="_blank">FAOC-UERJ</a>). I am collaborating with the <i>Data Analysis in Physical
                    Oceanography</i> course and available as an advisor for M.Sc. students. Please access the
                    <a href="http://www.ppgocn.uerj.br/" target="_blank">Graduation</a> website for more information. </i>
                </p>

                <br>

                <h3>Familiar Computer Tools</h3>

                <ul>
                    <li> <a href="http://www.python.org" target="_blank">Python</a>
                    <li> <a href="http://www.mathworks.com" target="_blank">MATLAB</a>
                    <li> <a href="http://ferret.wrc.noaa.gov/Ferret/" target="_blank">Ferret</a>
                    <li> <a href="http://www.latex-project.org/" target="_blank">LaTeX</a>
                    <li> <a href="http://en.wikipedia.org/wiki/Shell_(computing)" target="_blank">Shell Scripting</a>
                    <li> <a href="http://www.linux.org" target="_blank">Linux</a>
                    <li> <a href="http://www.apple.com/osx/" target="_blank">MacOS</a>
                    <li> <a href="http://windows.microsoft.com/en-US/windows/home" target="_blank">Windows</a>
                </ul>

                <br>

                <h3>Oceanographic Packages and Models</h3>

                <ul>
                    <li> Regional Ocean Modeling System -  <a href="http://www.myroms.org" target="_blank">ROMS</a>
                    <li> Princeton Ocean Model - <a href="http://www.aos.princeton.edu/WWWPUBLIC/htdocs.pom/" target="_blank">POM</a>
                    <li> Common Ocean Data Access System - <a href="http://currents.soest.hawaii.edu/docs/adcp_doc/index.html" target="_blank">CODAS</a>
                </ul>

                <br>

                <h3>Languages</h3>

                <ul>
                    <li> Portuguese (mother tongue)
                    <li> English (fluent)
                    <li> Spanish (reading)
                </ul>

                <br>

                <h3>Awards</h3>

                <p> <strong>Prêmio Almirante Franco</strong>: Best graduate student oral presentation at
                    OMARSAT
                    Physical Oceanography Simposium, organized by the Brazilian Navy at the
                    <a href="http://www.ieapm.mar.mil.br/" target="_blank">IEAPM</a>, Arraial do Cabo, RJ, Brazil, 2009.
                </p>
                <br><br>
            </section> <!-- experience -->

            <section id="links">
                <div class="page-header">
                    <h1> Useful Links </h1>
                </div>

                <h3> Operational Oceanography/Meteorology </h3>
                <ul>
                    <li> Marine Forecasts in New Zealand: <a href="http://swellmap.com/" target="_blank">Swellmap</a>
                    <li> Weather forecast - Brazil: <a href="http://tempo.cptec.inpe.br/" target="_blank">CPTEC - Weather</a>
                    <li> Latest color and SST images for SE Brazil: <a href="http://satelite.cptec.inpe.br/oceano/" target="_blank">INPE - DSA</a>
                    <li> Weather station at Arraial do Cabo - RJ: <a href="http://www.inmet.gov.br/sonabra/dspDadosCodigo.php?QTYwNg==" target="_blank">INMET</a>
                    <li> Ocean and weather forecast for Arraial do Cabo - RJ: <a href="http://www.windguru.cz/int/index.php?sc=427" target="_blank">WindGURU</a>
                    <li> Live data mooring at Arraial do Cabo - RJ: <a href="http://metocean.fugrogeos.com/marinha/" target="_blank">SIODOC Project - IEAPM</a> <code> in construction... </code>

                </ul>

                <br>

                <h3> Research in Oceanography </h3>
                <br>
                <h4> Scientific Journals </h4>
                <ul>
                    <li> Geophysical Research Letters: <a href="http://www.agu.org/journals/gl/papersinpress.shtml" target="_blank">GRL in press</a>
                    <li> Journal of Physical Oceanography: <a href="http://journals.ametsoc.org/loi/phoc" target="_blank">JPO</a>
                    <li> Journal of Geophysical Research: <a href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)2169-9291" target="_blank">JGR-oceans</a>
                    <li> Continental Shelf Research: <a href="http://www.journals.elsevier.com/continental-shelf-research/" target="_blank">CSR</a>
                    <li> Ocean Modelling: <a href="http://www.journals.elsevier.com/ocean-modelling/" target="_blank">OM</a>
                    <li> Ocean Dynamics: <a href="http://www.springer.com/earth+sciences+and+geography/oceanography/journal/10236" target="_blank">OcDyn</a>
                    <li> Deep Sea Research: <a href="http://www.elsevier.com/journals/deep-sea-research-part-i-oceanographic-research-papers-with-part-ii-topical-studies-in-oceanography/FS00-0216" target="_blank">DSR</a>
                </ul>
                <br>
                <h4> Institutions </h4>
                <ul>
                    <li> University of São Paulo: <a href="http://www.io.usp.br" target="_blank">IO-USP</a>
                </ul>

                <br>

                <h3> Research collaborators </h3>
                <ul>
                    <li> Leandro Calado at IEAPM: <a href="http://www.ieapm.mar.mil.br/pesquisa/oceanofisica/pesquisadores.htm" target="_blank">
                                                    Grupo de Oceanografia Física - IEAPM</a>
                    <li> Juliana Miranda at IEAPM: <a href="http://www.ieapm.mar.mil.br/pesquisa/oceanofisica/pesquisadores.htm" target="_blank">
                                                    Grupo de Oceanografia Física - IEAPM</a>
                    <li> Sandro Paixão at IEAPM: <a href="http://www.ieapm.mar.mil.br/pesquisa/oceanofisica/pesquisadores.htm" target="_blank">
                                                    Grupo de Oceanografia Física - IEAPM</a>
                    <li> Rogério de Moraes at IEAPM: <a href="http://www.ieapm.mar.mil.br/pesquisa/oceanofisica/pesquisadores.htm" target="_blank">
                                                    Grupo de Oceanografia Física - IEAPM</a>
                    <li> Ilson Silveira at USP: <a href="http://lado.io.usp.br/pt/equipe/ilson.php" target="_blank">LaDO - IOUSP</a>
                    <li> Alexandre Fernandes at UERJ: <a href="http://www.ppgocn.uerj.br/?pg=paginas|relacaodosdocentes-html" target="_blank">FAOC - UERJ</a>
                    <li> Avijit Gangopadhyay at UMassD: <a href="http://www.smast.umassd.edu/modeling/biogangopadhyay2.html" target="_blank">SMAST - UMASSD</a>
                    <li> Patrick Luyten at MUMM: <a href="http://www.mumm.ac.be/EN/Contact/display.php?ID=PL" target="_blank">MUMM - RBINS</a>
                    <li> Katrijn Baetens at MUMM: <a href="http://www.mumm.ac.be/EN/Contact/display.php?ID=KB" target="_blank">MUMM - RBINS</a>
                </ul>

                <br>

                <h3> Scientific Computing </h3>
                <ul>
                    <li> Free Software Foundation: <a href="http://www.fsf.org/" target="_blank">fsf.org</a>
                    <li> Linux Operating System: <a href="http://www.linux.org/" target="_blank">linux.org</a>
                    <li> Debian linux distribution: <a href="http://www.debian.org/" target="_blank">debian.org</a>
                    <li> Ubuntu linux distribution: <a href="http://www.ubuntu.com/" target="_blank">ubuntu.com</a>
                    <li> Python programming language: <a href="http://www.python.org/" target="_blank">python.org</a>
                    <li> Python style guide: <a href="http://www.python.org/dev/peps/pep-0008/" target="_blank">pep8</a>
                    <li> Scientific Python: <a href="http://www.scipy.org/" target="_blank">scipy.org</a>
                    <li> Plotting with Python: <a href="http://matplotlib.org/" target="_blank">matplotlib.org</a>
                    <li> Enthought Python Distribution: <a href="http://www.enthought.com/products/epd.php" target="_blank">enthought</a>
                    <li> Nice blog about data analysis : <a href="http://ocefpaf.github.io/" target="_blank">Python4oceanographers</a>
                    <li> Online LaTeX editor: <a href="https://www.sharelatex.com?r=66ae95b7&rm=d&rs=b" target="_blank">ShareLaTeX</a>
                </ul>

                <br>

                <h3> Miscelania </h3>
                <ul>
                    <li> Surf conditions and forecast - Brazil: <a href="http://waves.terra.com.br/surf/ondas/condicao/brasil/" target="_blank">Waves</a>
                    <li> Surf conditions and forecast - Rio de Janeiro: <a href="http://www.ricosurf.com.br" target="_blank">RicoSurf</a>
                    <li> Surf report for Arraial do Cabo, Cabo Frio and Buzios - RJ: <a href="http://www.babublogsurf.com.br/p/previsao.html" target="_blank">Babu</a>
                </ul>

                <br><br>
            </section> <!-- links -->


        </div> <!-- span7 -->

    </div> <!-- row-fluid -->
</div> <!-- container-fluid -->

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38329085-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics -->






